.mainBody {
  border: 3px;
  border-style: solid;
  display: flex;
  flex-direction: column;
}

.headerMiddle {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer {
  height: 80px;
  width: 100%;
  text-align: center;
}

.footer-icon-extra-large {
  width: 80px;
  height: 80px;
  //padding: 10px;
}

.footer-icon-large {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.footer-icon-medium {
  width: 50px;
  height: 50px;
  padding: 15px;
}

.footer-icon-small {
  width: 40px;
  height: 40px;
  padding: 20px;
}

.middle-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.middle-icon-large {
  width: 70px;
  height: 70px;
  padding: 10px;
}

.middle-icon-medium {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.middle-icon-small {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.middle-icon-extra-small {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.flex-trend-icon {
  width: 25px;
  height: 25px;
  padding-left: 2px;
  //padding-right: 10px;
}

.flex-trend-container {
  //display: flex;
  //flex-wrap: nowrap;
  //height: 30px;
  //align-items: center;

  right: 0px;
  bottom: 83px;
  padding-bottom: 2px;
  padding-right: 10px;
  position: fixed;
}

.flex-trend-button {
  display: flex;
  flex-wrap: nowrap;
  height: 30px;
  align-items: center;

  //right: 0px;
  //bottom: 83px;
  //padding-bottom: 2px;

  //position: fixed;
}

.flex-container-middle {
  flex-grow: 1;
}

.flex-container-top-content {
  flex-direction: column;
}

.flex-container-footer {
  display: flex;
  flex-wrap: nowrap;
  height: 80px;
}

.flex-container-header {
  display: flex;
  flex-wrap: nowrap;
  min-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  align-items: center;
}

.flex-item-left {
  width: 80px;
  height: 80px;
}

.flex-item-right {
  flex: auto;
  padding: 10px;
  margin: auto;
}

.info-icon {
  width: 25px;
  height: 25px;
  //right: 0px;
  //top: 0px;
  //left: 0px;
  //bottom: 83px;
  //position: fixed;
  //padding-top: 5px;
  //padding-right: 10px;
  //padding-bottom: 5px;
  //padding-left: 5px;
}

.info-container {
  width: 25px;
  height: 25px;
  bottom: 83px;
  position: fixed;
  padding-bottom: 5px;
  padding-left: 5px;
}

[hidden] {
  display: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  // cursor: pointer;
  // outline: inherit;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spin {
  transform-origin: center;
  animation: spin 8s linear infinite;
}
